@import "tailwindcss";

:root {
    --background: #fdfdfd;
    --text-primary: #171717;
    --text-secondary: #8b8b8b;
    --brand-color: #7975e6;
    --stroke-primary: #d9d9d9;
    --suite:
        "suite", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --important-task-color: #d65a5e;
    --meeting-task-color: #8eca89;
    --study-task-color: #f7e096;
}

@theme inline {
    --bg-color: var(--background);
    --text-primary: var(--text-primary);
    --text-secondary: var(--text-secondary);
    --brand-color: var(--brand-color);
    --stroke-primary: var(--stroke-primary);
    --suite: var(--suite);
    --important-task-color: var(--important-task-color);
    --metting-task-color: var(--meeting-task-color);
    --study-task-color: var(--study-task-color);
}

@theme {
    --animate-spinner: spinner-animation 0.5s linear infinite;

    @keyframes spinner-animation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@utility hover-bg {
    &:hover {
        background-color: rgba(129, 139, 152, 0.15);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --text-primary: #ededed;
    }
}

html,
body {
    background: var(--background);
    color: var(--text-primary);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-size: 1rem;
    position: relative;
    padding: 0;
}

@media (width >= 40rem) {
    body {
        max-width: 30vw;
        min-width: 30vw;
        width: 30vw;
    }
}

body {
    border: 2px solid var(--stroke-primary);
    border-radius: 6px;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

@layer components {
    .Main {
        @apply scrollbar-hide relative z-1 flex h-auto min-h-[60%] w-full max-w-full min-w-full grow flex-col;
    }
}
